<app-navbar>
    <div class="container">
        <div class="row">
            <div class="col text-center mt-5">
                <h3 class="mt-5">Bienvenido al Mundo Pokemon</h3>
                <div class="btn btn-light mt-5 mx-2" routerLink="/list-pokemon">Acceder a la Pokedex</div>
                <div class="btn btn-light mt-5 mx-2" routerLink="/about">Información sobre nosotros</div>
            </div>
        </div>
        <div class="row">
            <img src="../../../assets/pokemon-1.webp" alt="" class="mt-4">
        </div>
    </div>
</app-navbar>
